*::after, *::before, *{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
:root{
	font-size: 100%;
}
body{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: hsl(241, 83%, 60%);
	position: relative;
	min-height: 100vh;
	width: 100vw;
}
.password-section{
	margin-top: 7%;
}
.container{
	position: absolute;
	top: 30%;
	left: 50%;
	min-height: 50%;
	transform: translate(-50%,-30%);
	width: 60%;
	margin: auto;
	background-color: hsl(240, 84%, 90%);
	text-align: center;
	padding: 2%;
	backface-visibility: hidden;
}
.container h1{
	color:hsl(241, 83%, 60%);
	font-size: 3rem;
	font-weight: 700;
	animation: uptodown .85s ease-in ;
}
@keyframes uptodown{
	0%{
		transform: translateY(-60px);
		opacity: 0.4;
	}
	50%{
		transform: translateY(20px);
		opacity: 0.6;
	}
	80%{
		transform: translateY(-20px);
		opacity: 1;
	}
	50%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.container label{
	font-size: 2rem;
	color:hsl(240, 84%, 60%);
	font-weight: 500;
	
}
.container input{
	width: 40%;
	height: 2.5rem;
	font-size: 1.5rem;
	text-align: center;
	margin-top: .75rem;
	background-color: hsl(240, 84%, 85%);
	color:hsl(240, 84%, 60%);
	outline: none;
	border: 2px solid hsl(240, 84%, 60%);
	border-radius: 8px;
	position: relative;
}
.container input:focus{
	border: 3px solid hsl(240, 84%, 60%);
}
.strength-meter{
	width: 40%;
	height: 2rem;
	background-color: hsl(240, 84%, 90%);
	border: 2px solid hsl(240, 84%, 60%);
	margin: auto;
	margin-top: 1.2rem;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
}
.strength-meter::before{
	
	content: '';
	width: calc(1% * var(--strength, 0));
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-color: hsl(240, 84%, 60%);
	transition: width 200ms;
}
.reasons{
	color:hsl(240, 84%, 60%);
	font-size: 1.5rem;
	padding-top: .75rem;
	
}

.password-container{
	position: relative;
}
#password{
	padding-right: 3rem;
}
.icon{
	position: absolute;
	top: 55%;
	right: 31%;
	transform: translateY(-55%);
}
.password-container .icon i{
	font-size: 1.4rem;
	padding-top: 8px;
	color:hsl(240, 84%, 60%);
	cursor: pointer;

}
@media (max-width: 390px){
	:root{
		font-size:20%;
	}
	.container{
		width: 70%;
	}
	.container h1{
		color:hsl(241, 83%, 60%);
		font-size: 2rem;
		font-weight: 700;
	}

}
@media (max-width: 540px){
	:root{
		font-size: 30%;
	}
	.container{
		width: 70%;
	}
	.container h1{
		color:hsl(241, 83%, 60%);
		font-size: 2rem;
		font-weight: 700;
	}
	.container label{
		font-size: 1.5rem;
	}
	.reasons{
		font-size: 1.2rem;
}
@media (max-width: 768px){
	:root{
		font-size: 60%;
	}
	.container{
		width: 70%;
	}
	.strength-meter{
		width: 70%;
	}
	.container input{
		width: 70%;
	}
	.icon{
		position: absolute;
		top: 55%;
		right: 22%;
		transform: translateY(-55%);
	}
}
@media (max-width: 991px){
	:root{
		font-size: 75%;
	}
}
@media (max-width: 1199px){
	:root{
		font-size: 75%;
	}
}

